.sd-tab-set > label {
    border-radius: 8px 8px 0 0 !important;
    font-weight: 500;
    text-decoration: none !important;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.sd-tab-set > label:hover {
    background-color: var(--pst-color-primary-bg) !important;
    color: var(--pst-color-primary) !important;
    text-decoration: none !important;
}

.sd-tab-set > input:checked + label {
    border-bottom: 2px solid var(--pst-color-primary) !important;
    color: var(--pst-color-primary) !important;
    font-weight: 700;
    text-decoration: none !important;
}

.sd-tab-content {
    border-radius: 0 10px 10px 10px !important;
}
